body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:140px;
  width:1080px;
  height:3714px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3714px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1849px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1520px;
  top:140px;
  width:1080px;
  height:3714px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3714px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1849px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
