/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
button, input, textarea, /* form elements 表单元素 */
th, td, img { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em {
    font-style: normal;
}

/* 重置列表元素 */
ul, ol {
    list-style: none;
}

/* 重置文本格式元素 */
a {
    text-decoration: none;
}

img {
    display: block;
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

select, input, img {
    vertical-align: middle
}

textarea {
    resize: none
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

//设置所有元素盒模型宽度即为设置宽度，padding和border影响实际宽度
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//清除ios中input的默认样式
input, select,
button, textarea {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

//设置body的默认字体和字体大小
body {
    font-family: "PingFangSC-Regular" !important;
    font-size: 16px;
    line-height: 1;
    color: #666666;
    -webkit-overflow-scrolling: touch;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {/*隐藏滚轮*/
     display: none;
 }

