body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:96px;
  width:860px;
  height:1562px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:1562px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
