<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body >
<div id="app-9" >
    <div v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
    </div>
    <div v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
    </div>
    <button v-on:click="loginTypeChange">点击</button>
</div>
<div id="app">
    {{ mesage }}
</div>
<div id="app-2">
  <span v-bind:title="message" v-if="true">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
      {{message}}
  </span>
    <p v-for="data in arr">
        {{ data.text}}
    </p>
</div>
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="clickFunction">逆转消息</button>
</div>
<div id="app-7">
    <ol>
        <!-- 现在我们为每个todo-item提供待办项对象    -->
        <!-- 待办项对象是变量，即其内容可以是动态的 -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>

    <div id="app-6" class="app">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

</div>
<div id="app-8">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames" v-on:click="click">
    <label for="mike">Mike</label>
    <br>
    <input
            type="checkbox"
            v-model="toggle"
            v-bind:true-value="aaa"
            v-bind:false-value="bbb"
    >
    <span>Checked names: {{ checkedNames }}</span>
</div>

<script>
    Vue.component('todo-item', {
//         todoitem 组件现在接受一个
        // "prop"，类似于一个自定义属性
        // 这个属性名为 todo。
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });
    var app_8=new Vue({
        el: '#app-8',
        data: {
            checkedNames: [],
            ss:'',
            toggle:"888888",
            aaa:'1234',
            bbb:'6789'
        },
        methods:{
            click:function(){
                app_8.ss=this;

            }
        }
    });
    var app_if=new Vue({
        el:'#app-9',
        data:{
            loginType:'username'
        },
        methods:{
            loginTypeChange:function () {
                return this.loginType=this.loginType==='username'?'sss':'username';
            }
        }
    });
    var app7 = new Vue({
        el: '#app-7',
        data: {
            message: 'Hello Vue!',
            groceryList:[
                {text:"小红"},
                {text:"小网"},
                {text:"小系"}

            ]
        }
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            },
            clickFunction:function () {
                app5.message='点击后效果'
            }
        }
    });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date(),
            seennnn:true,
            arr:[
                {text:'hello'},
                {text:'world'},
                {text:'my'}
            ]

        }
    });
    var app = new Vue({
        el: '#app',
        data: {
            mesage: 'Helloue!'
        }
    });
</script>
<script src="../js/zepto.js"></script>
</body>
</html>