*,body{
    margin: 0;
    padding: 0;
}
.containerBox{
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding: .6rem 0;
}
.demoBox{
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
}
.imgBox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    -webkit-align-items: center;
    -webkit-box-pack: center;
}
.imgBox>img{
    width: 80%;
}
.imgName{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: .6rem;
}
