body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:105px;
  top:97px;
  width:1225px;
  height:653px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:653px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1318px;
  top:311px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1318px;
  top:382px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#2D8AE6;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1318px;
  top:480px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#2D8AE6;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1318px;
  top:580px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#2D8AE6;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1318px;
  top:683px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#2D8AE6;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:112px;
  top:848px;
  width:1212px;
  height:652px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:652px;
}
#u13 {
  position:absolute;
  left:2px;
  top:318px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1263px;
  top:1382px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#2D8AE6;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1510px;
  top:900px;
  width:430px;
  height:251px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:251px;
}
#u17 {
  position:absolute;
  left:2px;
  top:118px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1630px;
  top:941px;
  width:189px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1510px;
  top:1091px;
  width:430px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:413px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:430px;
  height:1px;
}
#u21 {
  position:absolute;
  left:1720px;
  top:1095px;
  width:10px;
  height:56px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:39px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:56px;
}
#u22 {
  position:absolute;
  left:1810px;
  top:1111px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1599px;
  top:1111px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1510px;
  top:1230px;
  width:430px;
  height:251px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:251px;
}
#u27 {
  position:absolute;
  left:2px;
  top:118px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1614px;
  top:1273px;
  width:221px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1510px;
  top:1421px;
  width:430px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:413px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:430px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1700px;
  top:1441px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
