body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:6670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:80px;
  width:1080px;
  height:3259px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3259px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1622px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1460px;
  top:80px;
  width:1080px;
  height:2000px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2000px;
}
#u3 {
  position:absolute;
  left:2px;
  top:992px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:2810px;
  top:80px;
  width:1080px;
  height:2000px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2000px;
}
#u5 {
  position:absolute;
  left:2px;
  top:992px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:4190px;
  top:80px;
  width:1080px;
  height:2000px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2000px;
}
#u7 {
  position:absolute;
  left:2px;
  top:992px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:5590px;
  top:80px;
  width:1080px;
  height:2000px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2000px;
}
#u9 {
  position:absolute;
  left:2px;
  top:992px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:110px;
  top:3560px;
  width:1080px;
  height:2307px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2307px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1146px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1460px;
  top:3560px;
  width:1080px;
  height:1920px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u13 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2810px;
  top:3560px;
  width:1080px;
  height:1920px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u15 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
