body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:972px;
  top:50px;
  width:718px;
  height:1278px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:1278px;
}
#u1 {
  position:absolute;
  left:2px;
  top:631px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:92px;
  top:50px;
  width:719px;
  height:1280px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:91px;
  top:1491px;
  width:720px;
  height:3025px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:3025px;
}
#u5 {
  position:absolute;
  left:2px;
  top:1504px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:972px;
  top:1491px;
  width:720px;
  height:1459px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1459px;
}
#u7 {
  position:absolute;
  left:2px;
  top:722px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:4710px;
  width:721px;
  height:1800px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:1800px;
}
#u9 {
  position:absolute;
  left:2px;
  top:892px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1927px;
  top:4710px;
  width:723px;
  height:1544px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:723px;
  height:1544px;
}
#u11 {
  position:absolute;
  left:2px;
  top:764px;
  width:719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1850px;
  top:1491px;
  width:720px;
  height:1333px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1333px;
}
#u13 {
  position:absolute;
  left:2px;
  top:658px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2780px;
  top:1491px;
  width:719px;
  height:1332px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1332px;
}
#u15 {
  position:absolute;
  left:2px;
  top:658px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:972px;
  top:4710px;
  width:719px;
  height:2038px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:2038px;
}
#u17 {
  position:absolute;
  left:2px;
  top:1011px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2910px;
  top:4710px;
  width:718px;
  height:1606px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:1606px;
}
#u19 {
  position:absolute;
  left:2px;
  top:795px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
