body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:80px;
  width:1280px;
  height:39px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:39px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:81px;
  top:119px;
  width:1279px;
  height:738px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:738px;
}
#u3 {
  position:absolute;
  left:2px;
  top:361px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:114px;
  top:307px;
  width:164px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:137px;
  top:322px;
  width:71px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:320px;
  top:222px;
  width:200px;
  height:45px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:237px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:490px;
  top:911px;
  width:418px;
  height:39px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
