*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PingFang TC
}

#container, html {
    background-image: url(../img/air/bg.png);
    background-size: cover;
    background-position: center;


}
html{
    background-repeat:repeat;
}
#container{
    display: none;
}

.header {

    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    font-size: 0;
    text-align: center;
    position: relative
}

.header > span {
    vertical-align: middle;
    display: inline-block;
    font-size: 2rem
}

.header-return {
    vertical-align: middle;
    height: 1.6rem;
    margin-top: -0.8rem;
    position: absolute;
    left: 2.5rem;
    top: 50%;

}

.header-middle-img {
    width: 2rem;
    text-align: center;
    position: relative;
    height: 1.4rem
}

.header-middle-img-left, .header-middle-img-right {
    position: absolute;
    width: .5rem;
    left: 50%;
    margin-left: -.25rem
}

.header-middle-img-left {
    top: 0
}

.header-middle-img-right {
    bottom: 0
}

.time-show {
    padding: 1rem 2rem;
    width: 100%;
    font-size: 0;
    background-image: url(../img/air/bg_black.png);
    background-repeat: no-repeat;
    background-size: cover
}

.time-show-dl, .time-show-dl1 {
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0
}


.time-show-dl1 {
    margin-left: 1rem;
}

.time-show-dd-center > p {
    font-weight: 700
}

.time-show-dd {
    display: inline-block;
    width: 20%;
    margin-bottom: 1.5rem
}

.time-show-dd1 {
    display: inline-block;
    width: 50%;
    margin-bottom: 1.5rem
}

.time-show-dd1 > *, .time-show-dd > * {
    text-align: center;
    font-size: 1rem;
    color: #777
}

.time-show-dd-month {
    position: absolute;
    bottom: -2.3rem;
    left: 0;
    font-size: 1.5rem;
    color: #777777;
}

.airtickets-show-dd {
    font-size: 0;
    overflow: hidden;
    padding-top: 1.25rem
}

.airtickets-show-dd-box {
    display: block !important;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1.25rem
}
.airtickets-show-dl>.airtickets-show-dd:last-child>.airtickets-show-dd-box{
    border-bottom: 0 solid red;
}

.airtickets-show-dd-name {
    padding-left: 1.5rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #777777;
}

.airtickets-show-dd-box > div {
    display: inline-block;
    vertical-align: middle
}

.airtickets-show-dd-logo, .airtickets-show-dd-star, .airtickets-show-dd-timelong {
    text-align: center;
    border-right: 2px dotted silver;
    /*background-image: url(../img/air/veralign.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    /*background-position-y: 50%;*/
    vertical-align: middle
}

.airtickets-show-dd-logo {
    width: 14%
}

.airtickets-show-dd-end, .airtickets-show-dd-star {
    text-align: center;
    width: 21%;
    color: #777
}

.airtickets-show-dd-price {
    width: 23%;
    text-align: center
}

.airtickets-show-dd-price-sort {
    font-size: 1rem
}

.airtickets-show-dd-price-money {
    font-size: 1.8rem;
    color: #0685d5;
    font-weight: 700
}

.airtickets-show-dd-timelong {
    width: 21%;
    height: 3.2rem;
    color: #777;
    font-size: 1rem;
    position: relative;
    vertical-align: middle
}

@media screen and (min-width: 350px) {
    .airtickets-show-dd-time-long {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: -.4rem
    }
}

.airtickets-show-dd-time-long {
    display: inline-block;
    width: 100%;
    text-align: center
}

.airtickets-show-dd-logo > img {
    width: 2.5rem
}

.airtickets-show-dd-star-time {
    font-size: 1.4rem
}

.airtickets-show-dd-start-add {
    font-size: 1rem;
    text-align: center
}

.airtickets-show-dd-detail {
    background-image: url(../img/air/bg_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.75rem .4rem;
    white-space: nowrap;
    width: 100%;
    display: none;
    overflow-x: auto;
    font-size: 0
}

.airtickets-show-dd-detail-dd {
    display: inline-block;
    text-align: center;
    width: 25%;
    padding: 1rem 0;
    background: url("../img/air/priceDetail(1)_03.png");
    background-position: right;
    background-repeat: no-repeat;
    font-size: 1.5rem
}

.airtickets-show-dd-detail-dd-rest, .airtickets-show-dd-detail-dd-sort {
    font-size: 1.2rem;
    color: #646464
}

.airtickets-show-dd-detail-dd-money {
    font-size: 1.8rem;
    color: #0074d6;
    font-weight: 700
}

#fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0;
    background-image: url(../img/air/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#blank {
    opacity: 0;
    font-size: 0
}

.fixed-choose {
    display: inline-block;
    width: 33.3%;
    padding: 1rem 0;
    background-image: url("../img/air/price(1)_07.png");
    text-align: center;
    background-position-x: right;
    background-position-y: 50%;
    background-repeat: no-repeat
}

.fixed-choose:last-child {
    background: 0 0
}

.fixed-choose-title {
    font-size: 2rem;
    color: #008ce1;
    font-weight: 700
}

.fixed-choose-detail {
    font-size: 1.4rem;
    color: #008ce1;

}

.choose-active {
    border-top: .25rem solid #0074d6
}



/* 弹出层 */

#popup{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,.1);
}
.popup-box{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    margin-top: -2.6rem;
}
.popup-tips{
    font-size: 1.8rem;
    color: black;
    margin-bottom: 1rem;
}
.popup-loading{
    width: 4rem;
    animation: all linear 2s;
}
