.calendar {
    width: 280px;
    height: 330px
}

.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}

.calendar-inner {
    position: relative;
    z-index: 1;
    /*-webkit-perspective: 1000;*/
    /*-moz-perspective: 1000;*/
    /*-ms-perspective: 1000;*/
    /*perspective: 1000;*/
    /*-ms-transform: perspective(1000px);*/
    /*-moz-transform: perspective(1000px);*/
    /*-moz-transform-style: preserve-3d;*/
    /*-ms-transform-style: preserve-3d*/
}

.calendar-views {
    /*transform-style: preserve-3d*/
}

.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: .6s;*/
    /*transition: .6s*/
}

.calendar-d .view-month, .calendar-m .view-date {
    /*transform: rotateY(180deg);*/
    visibility: hidden;
    z-index: 1
}

.calendar-d .view-date, .calendar-m .view-month {
    /*transform: rotateY(0);*/
    visibility: visible;
    z-index: 2
}

.calendar-ct, .calendar-hd, .calendar-views .days, .calendar-views .week {
    overflow: hidden
}

.calendar-views {
    width: 100%
}

.calendar .date-items li, .calendar .view, .calendar-arrow .prev, .calendar-display {
    float: left
}

.calendar-arrow, .calendar-arrow .next {
    float: right
}

.calendar-hd {
    padding-top: 10px
}

.calendar-display {
    font-size: 2.4rem;
    text-indent: 10px
}

.view-month .calendar-hd {
    padding: 10px
}

.calendar-arrow, .calendar-display {
    color: #ddd
}

.calendar li[disabled] {
    color: #bbb
}

.calendar li.new[disabled], .calendar li.old[disabled] {
    color: #BFBEBE !important
}

.calendar-arrow span:hover, .calendar-display .m, .calendar-display:hover, .calendar-views .days .new, .calendar-views .days .old, .calendar-views .week {
    color: #888
}

.calendar-arrow span, .calendar-views .days li[data-calendar-day], .calendar-views .view-month li[data-calendar-month] {
    cursor: pointer
}

.calendar li[disabled] {
    cursor: not-allowed
}

.calendar-arrow {
    margin-right: .5rem;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -.3rem;
}

.calendar-arrow span {
    font: 600 4.5rem sans-serif
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 50%
}

.calendar .days li, .calendar .week li {
    width: 40px;
    height: 40px;
    line-height: 40px
}

.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px
}

.calendar .days li[data-calendar-day]:hover, .calendar .view-month li[data-calendar-month]:hover {
    background: #BFBEBE
}

.calendar .calendar-views .now {
    border: 1px solid #feb418;
    box-sizing: border-box
}

.calendar .calendar-views .selected {
    color: #fff;
    background: #0d47a1 !important
}

.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    background: #ff808e;
    border-radius: 50%
}

.calendar-views .now .dot {
    background: #fff
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7
}

.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000
}