/**
 * Created by leo on 2016/11/12.

 */
*,
body {
  margin: 0;
  padding: 0;
}
.swiper-slide > img {
  width: 100%;
}
#page-tool {
  position: absolute;
  bottom: 20%;
}
.lunbo-text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
  font-size: 0;
}
.lunbo-text-box > div {
  display: inline-block;
  box-sizing: border-box;
}
.lunbo-text-box-left {
  text-align: center;
  width: 20%;
  color: white;
  background-color: #2C3039;
}
.lunbo-text-box-left-score {
  font-size: 1rem;
  color: #C6D77A;
  margin: 0;
  margin-top: 0.4rem;
}
.lunbo-text-box-left-num {
  font-size: .5rem;
  margin: 0;
  padding-bottom: 0.5rem;
}
.lunbo-text-box-right {
  width: 80%;
  padding: 0 3%;
  font-size: 1rem;
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.lunbo-text-box-right-name {
  color: white;
}
.lunbo-text-box-right-star {
  width: .5rem;
}
.lunbo-text-box-right-sign {
  position: absolute;
  top: 50%;
  margin-top: -0.9rem;
  right: 6%;
}
.lunbo-text-box-right-sign-img {
  width: 1.8rem;
  margin-left: .4rem;
}
.lunbo-imgsign-img {
  position: absolute;
  top: 1.54285714rem;
  left: 5%;
  z-index: 9;
  width: 1.54285714rem;
}
.btn-group {
  padding: 0.4rem 3%;
  width: 100%;
  font-size: 0;
}
.btn {
  padding: .5rem;
  border: none;
  color: white;
  font-weight: 600;
  width: 50%;
  text-align: center;
  font-size: .8rem;
}
.btn-left {
  background-color: #535353;
  border-radius: 0.3rem 0 0 0.3rem;
}
.btn-right {
  background-color: #D7D7D7;
  border-radius: 0 0.3rem 0.3rem 0;
}
.content-info {
  padding: 0 5%;
}
.info-box {
  border-top: 1px solid #E1E1E1;
  padding: 0 2%;
  font-size: 0;
  overflow: auto;
  padding-bottom: 0.8rem;
}
.info-box-title {
  padding: 0.6rem 0;
  font-size: .7rem;
  font-weight: bolder;
  margin: 0;
  color: #001A58;
}
.info-box-date {
  margin: 0;
  font-size: .8rem;
  position: relative;
  color: #989898;
}
.info-box-time {
  padding: 0 .2rem;
}
.info-box-house-money {
  color: #FCB819;
  font-weight: bolder;
  font-size: .8rem;
  float: right;
}
.info-list-box {
  margin: 0;
}
.info-list {
  position: relative;
  margin-bottom: 0.85rem;
}
.list-bold {
  font-weight: bolder;
}
.info-box-chooseNum {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 40%;
  top: 50%;
  font-size: .9rem;
  line-height: 1.8rem;
  color: #989898;
  margin-top: -0.9rem;
  right: 20%;
  z-index: 9;
}
.logo-img {
  width: 1.54285714rem;
}
.num-reduce {
  float: left;
}
.num-add {
  float: right;
}
.list-text {
  display: inline-block;
  font-size: .9rem;
  color: #989898;
}
.info-box-breakfast-moeny {
  position: absolute;
  color: #FCB819;
  font-weight: bolder;
  font-size: .8rem;
  top: 50%;
  display: inline-block;
  margin-top: -0.4rem;
  right: 0;
  z-index: 9;
}
.btn-down {
  background-color: #FCB819;
  width: 3.7rem;
  border: none;
  font-size: .8rem;
  border-radius: 0.3rem;
  margin-bottom: 0.8rem;
}
.btn-down:hover,
.btn-down:focus {
  background-color: #FCB819;
}
.content-all {
  text-align: right;
  font-size: .7rem;
  margin-bottom: 0.7rem;
  color: #001A58;
  font-weight: bolder;
  margin-top: 0.7rem;
}
hr {
  padding: 0;
  margin: 0;
}
.content-all-money {
  color: #FCB819;
  font-size: 1.2rem;
}
.btn-sure {
  font-size: 1rem ;
  width: 5rem;
  padding: .3rem 0;
  color: white;
  float: right;
  background-color: #FCB819;
}
.overheadinfo-box {
  background-color: #F0F0F0;
  background-image: url("../../img/house_detail/bg22_07.png");
  background-repeat: repeat;
  padding: 0.6rem 5% 0.42rem 5%;
}
.overheadinfo-title {
  margin-bottom: 1rem;
  padding: 0;
}
.overheadinfo-dl {
  margin: 0;
  padding: 0;
  padding: 0 3%;
  overflow: auto;
}
.overheadinfo-dl > dd {
  float: left;
  position: relative;
  text-align: center;
  margin-left: 10%;
}
.overheadinfo-dl > dd:nth-child(4n+1) {
  margin-left: 0;
}
.overheadinfo-dl > dd:nth-child(n+5) {
  margin-top: 0.88rem;
}
.overheadinfo-dl-dd-img {
  height: 1.3rem;
}
.img-small {
  width: auto;
}
.overheadinfo-dl-dd-text {
  padding: 0;
  margin: 0;
  margin-top: 0.4rem;
  font-size: .6rem;
  text-align: center;
  color: #989898;
}
.overheadinfo-tip {
  margin: 0;
  padding: 0.8rem 3%;
  color: #989898;
  font-weight: bolder;
  font-size: .5rem;
  word-spacing: .1rem;
  letter-spacing: .1rem;
}
.overheadinfo-hr {
  margin-bottom: 0.6rem;
  border-color: #989898;
  opacity: .2;
}
.overheadinfo-Notip {
  margin-top: 0.8rem;
}
.overheadinfo-dl-dd-img-num {
  position: absolute;
  right: -1rem;
  top: 0.4rem;
  display: inline-block;
  width: 1.04rem;
  height: 1.04rem;
  border-radius: 1000px;
  text-align: center;
  font-size: .6rem;
  background-color: #989898;
  line-height: 1.04rem;
  color: white;
}
.overheadinfo-dl-kefang > dd {
  margin-left: 14%;
}
.overheadinfo-dl-kefang > dd > img {
  height: 1.2rem;
}
.last-one {
  padding-top: 0;
  font-weight: normal;
}
